.flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 5px 10px;
    color: white;
    background:var(--main-bg-colour);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.my1{
    margin: 26px 0;
}
.my2{
    margin: 5px 0;
}
.text-center{
    text-align: center;
}